# -----------------------------
# Miscellaneous
# -----------------------------
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# -----------------------------
# IDE / Editor Specific
# -----------------------------

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# -----------------------------
# Flutter / Dart / Pub
# -----------------------------
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
.pub-cache/

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json

# Generated plugin registrant
generated_plugin_registrant.dart

# -----------------------------
# Build folders (All platforms)
# -----------------------------
/build/

# Android specific
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties

# iOS specific
ios/.dart_tool/
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/ephemeral/

# macOS specific
macos/.dart_tool/
macos/Flutter/
macos/Pods/

# Windows specific
windows/.dart_tool/
windows/flutter/
windows/CMakeFiles/

# Linux specific
linux/.dart_tool/
linux/flutter/
linux/CMakeFiles/

# Web specific
web/.dart_tool/
web/build/

# -----------------------------
# Firebase (optional)
# -----------------------------
crashlytics/

# -----------------------------
# Environment/Sensitive Files
# -----------------------------
*.env
.env.*
